<div class="header">
		<div class="logo">
			<p>Admin<span> App(Patient)</span></p>
		</div>
		<div id="flip"><p>Menu</p></div>
		<nav id="nav">
			<ul>
				<li class="active"><a routerLink="home">Home</a></li>
				<li><a  id = "About" routerLink="home">About</a></li>
				<li><a href="signup">Sign-Up</a></li>
                <li *ngIf="!loginService.isLoggedIn()"><a (click)="onLogin()">Login</a></li>
				<li *ngIf="loginService.isLoggedIn()"><a (click)="onLogout()">Logout</a></li>
				
			</ul>
		</nav>
	</div>