
<section id = "homePage" class="hero is-primary is-bold is-fullheight">
    <div class="hero-body">
      <p class="title" style="text-align: center;">
        Welcome to the Patient WebApp
      </p>
      <p class="subtitle" style="text-align: center;">
        Primary subtitle
      </p>
    </div>
    <div class="emergency-alert">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="emergency-alert">
<p class="container"><strong><a href="https://www2.hse.ie/conditions/covid19/">Get the latest information on COVID-19</a></strong></p>
</div>

              </div>
          </div>
      </div>
  </div>
  </section>
