*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(src/assets/img1.jpg);
    background-size: 100% 700px;
}
h1{
    text-align: center;
    padding: 20px;
    color: white;

}
h2{
    text-align: center;
    padding: 0px;

}
.registration{
    background: white;
    width: 500px;
    margin: 0px 0px 0px 430px;
    font-size: 18px;
    padding: 0px;
    border-radius: 10px;
}

#submit{
    background: rgb(0,250,200);
    width: 200px;
    padding: 5px;
    border: none;
}

#register{
    margin-left: 100px;
}

label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}

#name{
    width: 300px;
    border-radius: 3px;
    outline: 0;
    padding: 2px;
}

#ph{
    width: 70px;
    padding: 7px;
    border-radius: 3px;
}

#numb{
    width: 220px;
    padding: 7px;
    border-radius: 3px;
}